.full{
    /* border: 1px solid red; */
    background-color: antiquewhite;
}
.content-1{
    /* border: 1px solid red; */
    display: flex;
}

.h2{
    padding: 0px 20px;
    /* border: 1px solid green; */
    width: 50%;
}
.div-flix{
    /* border: 1px solid green; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    
    padding: 0px 30px;
    text-align: center;
    align-items: center;
}
.div-flix a{
    text-decoration:none;
}
.hading{
    text-align: center;
    align-items: center;
    padding: 20px 0px;
}
.pag{
    text-align: center;
    align-items: center;
}
.brt-primary{
    background-color: orange;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
.baner{
    /* border: 1px solid red; */
  width: 100%;
  margin: 0%;
  padding: 0px 50px;
}
.content-3{
    border: 1px solid green;
    display:flex;
}
.team{
    border: 1px solid green;
    width: 50%;
    padding: 0px 80px;
    gap: 20px;}
    .second-side{
    width: 50%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}
.team img{
    gap: 20px;
}